    html {
      font-size: 62.5%
    }

    body {
      font-size: 1.6rem;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto;
    }

    header {
      margin: 3.4vw 4vw;
      text-align: center;
    }

    section {
      margin: 0 4vw;
      max-width: 140rem;
    }

    img {
      width: 100%;
    }

    .title {
      display: block;
      text-align: center;
    }

    .tags {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .tags li {
      display: inline-block;
      background-color: slategrey;
      border-radius: 0.2rem;
      color: white;
      padding: 0.5rem;
    }

    .tags li:not(:first-child) {
      margin-left: 0.5rem
    }