@import './reset';
@import './about';
@import './post';

html {
	background-color: white;
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.05rem;
}

body {
	color: black;
	font-size: 1.6rem;
	margin:0;
	padding: 2vw;

	&.post_page {
		margin: 0 auto;
		padding: 2vw 0;
		width: 80vw;

		.post_image {
			max-height: initial;
			max-width: 100%;
		}

		.post_tags {
			margin: 2rem 0;
		}
	}
}

h1, h2 {
	font-family: 'Cormorant Garamond', serif;
}

a {
	border-bottom: 1px solid black;
	color :black;
	padding-bottom: 0.1rem;
	text-decoration: none;
	transition: border 0.25s ease-in-out;


	&:hover {
		border-color: rgba(0,0,0,0);
	}
	&:visited {
		color :black;
	}
}

header {
	display: flex;
	justify-content: space-between;
	margin: 6rem auto 8rem;
	width: 80vw;
}

.site_title {
	font-size: 4rem;

	a {
		border: none;
	}
}

nav {
	vertical-align: middle;

	a {
		line-height: 2rem;
		vertical-align: middle;

		&:not(:last-of-type) {
			margin-right: 2rem;
		}
	}

	.nav_current {
		border: none;
		color: black;
		opacity: 0.5;
		pointer-events: none;
		text-decoration: none;
	}
}

.nav_instagram {
	background-image: url(/assets/instagram.svg);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	display: inline-block;
	height: 2rem;
	width: 2rem;

	span {
		display: none;
	}
}

footer {
	font-size: 1.4rem;
	margin: 0 auto;
	padding-top: 1rem;
	text-align: center;
	width: 75vw;
}